/* General Styles */
:root {
    --backgroundColor: radial-gradient(circle, #F1F2F4, #E9ECEF, #F5F6F7);
    --whiteBG: #f9f9f9;
    --black: #000000;
    --blackBG: #2d2d2d;
    --white: #ffffff;
    --softGold: #D4B483;
    --darkGrey: #6b6b6b;
    --mutedBlue: #627D98;
    --earthyBrown: #8C746A;
    --radiusSize: 0rem;
}
  
  ::selection {
    color: var(--softGold);
    background: var(--earthyBrown);
  }

/* Add responsive styles */
.menu-icon {
    display: none;
    font-size: 32px;
    cursor: pointer;
    padding: 16px;
    color: var(--darkGrey);
}

/* Show the menu icon and hide the navbar when screen is smaller */
@media screen and (max-width: 48rem) {
    ul {
        display: none;
        flex-direction: column;
        width: 100%;
    }

    li {
        float: none;
        width: 100%;
        text-align: center;
    }

    .menu-icon {
        display: block;
    }
}

/* Display the navbar when the menu icon is clicked */
ul.active {
    display: flex;
}

/* Regular Font Weight */
@font-face {
    font-family: 'VisueltPro';    
    src: url('/src/main/resources/static/fonts/VisueltPro-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* Bold Font Weight */
@font-face {
    font-family: 'VisueltPro';    
    src: url('/src/main/resources/static/fonts/VisueltPro-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

/* Regular Styles */
body {
    background: var(--backgroundColor);
    color: var(--black);
    text-align: center;
    padding: 50px;
    font-family: VisueltPro, sans-serif;
    font-weight: normal; /* Uses Regular weight */
}

nav {
    margin-top: -40px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: var(--backgroundColor);
}

nav li {
    float: left;
}

nav li a {
    display: block;
    color: var(--darkGrey);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-weight: normal;
    text-shadow: none;
}

nav li a:hover {
    color: var(--black);
}

h1, h2 {
    font-family: 'VisueltPro', sans-serif;
    font-weight: bold; /* Uses Bold weight */
}

#MainTitle h1 {
    font-family: 'VisueltPro', sans-serif;
    font-size: 10vw; /* The title font size adjusts to 10% of the viewport width */
    font-weight: 700;
    margin-top: 40px;
    margin-bottom: -5px;
    color: var(--black);
}

#TitleHr {
    border: .0938rem solid var(--darkGrey);
}

#Subtitle {
    max-width: 800px;
    display: flex;
    margin: auto;
    align-items: center;
    align-content: center;
}

#quote {
    color: var(--blackBG);
    font-size: 1.2em;
}

/* Paragraph Styles */
p {
    font-family: 'VisueltPro', sans-serif;
    font-weight: normal; /* Regular weight by default */
    font-size: 1.2em; /* Adjust the size as needed */
    color: var(--blackBG); /* Uses the defined variable color */
}

/* Bold Paragraphs */
p.bold {
    font-weight: bold; /* Uses Bold weight */
}

.MainNote {
    width: 50rem;
    border-radius: var(--radiusSize);
    margin: auto;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-evenly;
    background: var(--whiteBG);
    text-align: left;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.MainNote p {
    margin: auto;
    margin-right: .625rem;
}

.MainNote img {
    object-fit: cover;
    border-bottom-right-radius: var(--radiusSize);
    border-top-right-radius: var(--radiusSize);
    width: 350px; /* Ensures the image doesn't get too large */
    height: auto; /* Maintains the aspect ratio */
    margin-bottom: -0.3125rem;
    justify-self: center; /* Aligns the image to the right */
    align-self: center; /* Centers the image vertically */
}

#MainNoteFirstDiv {
    margin: 1.25rem;
    margin-top: 1rem;
}

@media (max-width: 768px) { /* For phone sizes */
    .MainNote {
        flex-wrap: wrap;
        width: -webkit-fill-available;
        padding-left: 0;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        border-radius: var(--radiusSize);
    }    
    /*resize for phone*/
    .MainNote img{
        width: 16rem;
        height: auto;
        margin-bottom: 1rem;
        border-radius: var(--radiusSize);
    }

    .MainNote p{
        margin-right: 0px;
    }

}

footer {
    margin-top: 25rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: var(--backgroundColor); /* Light grey background color */
}

hr {
    width: 80%;
    margin-bottom: 10px;
    border: none;
    border-top: 1px solid var(--darkGrey); /* Grey border for the hr */
}

.footer-content {
    display: flex;
    flex-direction: row; /* Display items horizontally */
    align-items: center; /* Center items vertically */
    justify-content: center; /* Center items horizontally */
    text-align: center; /* Center text within the footer */
    width: 100%;
}

.footer-content h2 {
    margin: 0;
    font-size: 1.5rem; /* Responsive font size */
    color: var(--blackBG); /* Dark grey text color */
}

.footer-content p {
    margin: 8px 0; /* Small margin between the title and text */
    font-size: 1rem; /* Base font size for the text */
    color: var(--blackBG); /* Medium grey text color */
}

.footer-content ul {
    list-style-type: none; /* Remove default bullets */
    padding: 0;
    margin: 10px 0 0; /* Margin above the list */
    display: flex;
    flex-direction: row; /* Align list items horizontally */
    align-items: center; /* Center items vertically */
}

.footer-content li {
    margin: 0 15px; /* Space between list items */
    font-size: 1rem; /* Font size for list items */
    color: #666; /* Medium grey text color */
    display: flex;
    align-items: center; /* Center content vertically */
}

.github-icon {
    margin-right: 10px; /* Space to the right of the icon */
    font-size: 1.5rem; /* Icon size */
    color: var(--blackBG); /* Dark grey color for the icon */
    text-decoration: none; /* Remove underline */
}

.github-icon:hover {
    color: #000; /* Darker color on hover */
}

@media (max-width: 768px) {
    footer {
        padding: 15px;
    }

    .footer-content h2 {
        font-size: 1.2rem; /* Smaller font size on smaller screens */
    }

    .footer-content p, .footer-content li {
        font-size: 0.9rem; /* Smaller font size for text and list items on smaller screens */
    }

    .footer-content ul {
        flex-direction: column; /* Stack list items vertically on smaller screens */
        align-items: flex-start; /* Align items to the start */
    }

    .footer-content li {
        margin: 5px 0; /* Space between list items on smaller screens */
    }
}
