/* General Styles */
:root {
    --backgroundColor: radial-gradient(circle, #F1F2F4, #E9ECEF, #F5F6F7);
    --black: #000000;
    --white: #ffffff;
    --softGold: #D4B483;
    --darkGrey: #363636;
    --mutedBlue: #627D98;
    --earthyBrown: #8C746A;
    --radiusSize: 1.5625rem;
}
  
  ::selection {
    color: var(--softGold);
    background: var(--earthyBrown);
  }

/* Add responsive styles */
.menu-icon {
    display: none;
    font-size: 32px;
    cursor: pointer;
    padding: 16px;
    color: var(--darkGrey);
}

/* Show the menu icon and hide the navbar when screen is smaller */
@media screen and (max-width: 48rem) {
    ul {
        display: none;
        flex-direction: column;
        width: 100%;
    }

    li {
        float: none;
        width: 100%;
        text-align: center;
    }

    .menu-icon {
        display: block;
    }
}

/* Display the navbar when the menu icon is clicked */
ul.active {
    display: flex;
}

/* Regular Styles */
body {
    background: var(--backgroundColor);
    color: var(--black);
    text-align: center;
    padding: 50px;
    font-family: VisueltPro, sans-serif;
}

nav {
    margin-top: -40px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: var(--backgroundColor);
}

li {
    float: left;
}

li a {
    display: block;
    color: var(--darkGrey);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-weight: 500;
    text-shadow: none;
}

li a:hover {
    text-shadow: 0 0 1.32px var(--darkGrey); /* Creates a bold-like effect */
}

h1 {
    font-size: 10vw; /* The title font size adjusts to 10% of the viewport width */
    font-weight: 700;
    margin-top: 40px;
    margin-bottom: 12.8px;
    color: var(--black);
}

#TitleHr {
    border: .0938rem solid var(--darkGrey);
}

#Subtitle {
    max-width: 800px;
    display: flex;
    margin: auto;
    align-items: center;
    align-content: center;
}

#quote {
    color: var(--black);
    font-size: 1.2em;
}

p {
    font-size: 1.2em;
}

.MainNote {
    width: 800px;
    border-radius: var(--radiusSize);
    margin: auto;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-evenly;
    background: var(--softGold);
    text-align: left;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.MainNote p {
    margin: auto;
    margin-right: .625rem;
}

.MainNote img {
    object-fit: cover;
    border-bottom-right-radius: var(--radiusSize);
    border-top-right-radius: var(--radiusSize);
    width: 350px; /* Ensures the image doesn't get too large */
    height: auto; /* Maintains the aspect ratio */
    margin-bottom: -0.3125rem;
    justify-self: center; /* Aligns the image to the right */
    align-self: center; /* Centers the image vertically */
}

#MainNoteFirstDiv {
    margin: 1.25rem;
    margin-top: 1rem;
}

@media (max-width: 768px) { /* For phone sizes */
    .MainNote {
        flex-wrap: wrap;
        width: auto;
        padding-left: 0;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        border-radius: var(--radiusSize);
    }    
    
    .MainNote img{
        width: 14.6875rem;
        height: auto;
        margin-bottom: .625rem;
        margin-top: .625rem;
        border-radius: var(--radiusSize);
    }
    
}



