/* General Styles */
:root {
    --backgroundColor: radial-gradient(circle, #F1F2F4, #E9ECEF, #F5F6F7);
    --whiteBG: #f9f9f9;
    --black: #000000;
    --blackBG: #2d2d2d;
    --white: #ffffff;
    --softGold: #D4B483;
    --darkGrey: #818181d7;
    --mutedBlue: #627D98;
    --earthyBrown: #8C746A;
    --radiusSize: 0rem;
}
  
  ::selection {
    color: var(--softGold);
    background: var(--earthyBrown);
  }

/* Add responsive styles */
.menu-icon {
    display: none;
    font-size: 32px;
    cursor: pointer;
    padding: 16px;
    color: var(--darkGrey);
}

/* Show the menu icon and hide the navbar when screen is smaller */
@media screen and (max-width: 48rem) {
    ul {
        display: none;
        flex-direction: column;
        width: 100%;
    }

    li {
        float: none;
        width: 100%;
        text-align: center;
    }

    .menu-icon {
        display: block;
    }
}

a#selected {
    color: black;
}

ul.active {
    display: flex;
    color: #000;
}

/* Regular Font Weight */
@font-face {
    font-family: 'VisueltPro';    
    src: url('/fonts/VisueltPro-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* Bold Font Weight */
@font-face {
    font-family: 'VisueltPro';    
    src: url('/fonts/VisueltPro-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}


/* Regular Styles */
body {
    background: var(--backgroundColor);
    color: var(--black);
    text-align: center;
    padding: 10px 50px 0 50px;
    font-family: VisueltPro, sans-serif;
    font-weight: normal;
}


nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: var(--backgroundColor);
}

nav li {
    float: left;
}

nav li a {
    display: block;
    color: var(--darkGrey);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-weight: normal;
    text-shadow: none;
}

nav li a:hover {
    color: var(--black);
}

h1, h2 {
    font-family: 'VisueltPro', sans-serif;
    font-weight: bold; /* Uses Bold weight */
}

#MainTitle {
    margin-top: -0.625rem;
}

#MainTitle h1 {
    font-family: 'VisueltPro', sans-serif;
    font-size: 10vw; /* The title font size adjusts to 10% of the viewport width */
    font-weight: 700;
    margin-top: 40px;
    margin-bottom: -5px;
    color: var(--black);
}

#TitleHr {
    border: .0938rem solid var(--darkGrey);
}

#Subtitle {
    margin: auto;
    align-content: center;
}

#quote {
    color: var(--blackBG);
    font-size: 1.2em;
    display: inline;
    margin: 0 5px; /* Adds space between the text and the icons */
}

.fa-solid.fa-quote-left,
.fa-solid.fa-quote-right {
    color: var(--blackBG); /* You can adjust the color as needed */
    font-size: 1.5em; /* Adjust icon size if needed */
    vertical-align: middle; /* Align icons with text */
    margin-bottom: 20px;
}


/* Paragraph Styles */
p {
    font-family: 'VisueltPro', sans-serif;
    font-weight: normal; /* Regular weight by default */
    font-size: 1.2em; /* Adjust the size as needed */
    color: var(--blackBG); /* Uses the defined variable color */
}

/* Bold Paragraphs */
p.bold {
    font-weight: bold; /* Uses Bold weight */
}

.MainNote {
    width: 50rem;
    border-style: solid;
    border-color: var(--darkGrey);
    border-width: thin;
    border-radius: var(--radiusSize);
    margin: auto;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-evenly;
    background: var(--whiteBG);
    text-align: left;
    transition: border-color 0.4s ease, box-shadow 0.4s ease; 

}

.MainNote:hover {
    border-color: var(--mutedBlue);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.MainNote p {
    margin: auto;
    margin-right: .625rem;
}

.MainNote img {
    object-fit: cover;
    border-bottom-right-radius: var(--radiusSize);
    border-top-right-radius: var(--radiusSize);
    width: 300px; /* Ensures the image doesn't get too large */
    height: auto; /* Maintains the aspect ratio */
    margin-bottom: -0.27rem;
}

#MainNoteFirstDiv {
    margin: 1.25rem;
    margin-top: 1rem;
}

@media (max-width: 768px) { /* For phone sizes */
    .MainNote {
        flex-wrap: wrap-reverse;
        width: 100%;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        border-radius: var(--radiusSize);
        margin: 0 auto;
    }    
    /*resize for phone*/
    .MainNote img{
        width: 100%;
        height: auto;
        border-radius: var(--radiusSize);
    }

    .MainNote p{
        text-align: -webkit-left;
    }

}

/* MAIN SECTION */
.MainContent {
    display: flex;
    justify-content: center;
    padding: 1.5rem;
}

.Container-grid {
    width: fit-content;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 1.5rem;
    column-gap: 1.5rem;
    align-items: center;
    justify-content: center;
    align-content: center;
    justify-items: center;
}

.Chapter {
    border-style: solid;
    border-color: var(--darkGrey);
    border-width: thin;
    display: flex;
    width: 24rem;
    height: auto;
    transition: border-color 0.4s ease, box-shadow 0.4s ease;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.Chapter:hover {
    border-color: var(--mutedBlue);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.img-container {
    width: -webkit-fill-available;
    height: 15rem;
}

.img-container img {
    object-fit: none;
    width: auto;
    height: 13rem;
}

.text-container {
    padding: 0px 1.5rem 0px 1.5rem;
    display: grid;
    z-index: -1;
    background-color: var(--whiteBG);
}

.text-container h2 {
    margin-bottom: -0.5rem;
}

.text-container p {
    text-align: center;
}



@media (max-width: 768px) {
    .Container-grid {
            grid-template-columns: repeat(1, 1fr);
    }
    
    .Chapter {
        width: 300px;
    }    
    
}


/* FOOTER SECTION */
footer {
    display: flex;
    margin-bottom: -50px;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
    margin-bottom: -3.125rem;
    background-color: var(--backgroundColor); /* Light grey background color */
}
footer hr {
    width: 80%;
    margin-top: 0px;
    margin-bottom: 10px;
    border: none;
    border-top: 1px solid var(--darkGrey); /* Grey border for the hr */
}
footer h2 {
    margin: 0;
    font-size: 1.5rem; /* Responsive font size */
    color: var(--blackBG); /* Dark grey text color */
    margin-top: 5px;
}
footer p {
    margin: 8px 0; /* Small margin between the title and text */
    font-size:  1.1rem; /* Base font size for the text */
    color: var(--blackBG); /* Medium grey text color */
    margin-bottom: 20px;
}
.footer-content {
    display: flex;
    flex-direction: row; /* Display items horizontally */
    align-items: center; /* Center items vertically */
    justify-content: center; /* Center items horizontally */
    text-align: center; /* Center text within the footer */
    margin-top: 10px;
    width: 100%;
    height: auto;
}
.footer-content p {
    margin: 8px 0; /* Small margin between the title and text */
    font-size: 1rem; /* Base font size for the text */
    color: var(--blackBG); /* Medium grey text color */
}
.footer-content ul {    
    list-style-type: none; /* Remove default bullets */
    padding: 0;
    margin: 10px 0 0; /* Margin above the list */
    display: flex;
    flex-direction: row; /* Align list items horizontally */
    align-items: center; /* Center items vertically */
}
.footer-content li {
    margin: 0 15px; /* Space between list items */
    font-size: 1rem; /* Font size for list items */
    display: flex;
    align-items: center; /* Center content vertically */
}
.icon {
    margin-right: 10px; /* Space to the right of the icon */
    font-size: 1.5rem; /* Icon size */
    color: var(--darkGrey); 
    text-decoration: none; /* Remove underline */
}
.footer-content li :hover {
    color: #000; /* Darker color on hover */
}


@media (max-width: 768px) {
    footer {
        padding: 15px;
    }

    .footer-content h2 {
        font-size: 1.2rem; /* Smaller font size on smaller screens */
    }

    .footer-content p, .footer-content li {
        font-size: 0.9rem; /* Smaller font size for text and list items on smaller screens */
    }

    .footer-content ul {
        flex-direction: column; /* Stack list items vertically on smaller screens */
        align-items: flex-start; /* Align items to the start */
    }

    .footer-content li {
        margin: 5px 0; /* Space between list items on smaller screens */
        display: grid;
    }
}



/*ABOUT PAGE */
div#About-container {
    display: grid;
    grid-template-columns: 35rem 15rem;
    justify-items: center;
    align-content: center;
    align-items: center;
    justify-content: center;
    column-gap: 25px;
    margin-top: 2rem;
    margin-bottom: 2.5rem;
}

div#About-container h2 {
    margin-bottom: -7.5px;
}

div#About-txt {
    text-align: left;
}

div#About-img {
    background-color: burlywood;
    width: 15rem;
    display: grid;
    height: 28rem;
    align-content: center;
    justify-items: center;
}

div#About-img img{
    height: 28rem;
    width: 100%;
    object-fit: cover;
}

@media (max-width: 768px) {

    div#About-container {
        display: flex;
        flex-wrap: wrap;
        width: 300px;
        margin-bottom: 20px;
    }

    div#About-img {
        width: 100%;
        height: auto;
        margin-top: 20px;
    }


}



#JsTest {
    display: grid;
    align-items: center;
    height: 400px;
    width: 600px;
    border-style: solid;
    border-color: #000;
    margin-bottom: 20px;
}