<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
         <link th:href="@{/css/styles.css}" rel="stylesheet" type="text/css">
        <!-- <link href="/src/main/resources/static/css/styles.css" rel="stylesheet" type="text/css"> -->

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" href="data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 100'><text y='.9em' font-size='90'>⚡</text></svg>">
        <title>The Stoic Path!</title>
    </head>
    <body>
        <nav>
            <div class="menu-icon" onclick="toggleMenu()">
                <i class="fa fa-book" aria-hidden="true"></i>
            </div>        
            
        <ul id="navbar">
          <li style="float:left">
            <!-- Opening quote icon -->
            <i class="fa-solid fa-quote-left"></i>
            <!-- Quote text -->
            <p id="quote" th:text="${phrase}"></p>
            <!-- Closing quote icon -->
            <i class="fa-solid fa-quote-right"></i>
          </li>
          <li style="float:right"><a href="#news">Help</a></li>
          <li style="float:right"><a class="active"href="">Blog</a></li>
          <li style="float:right"><a href="">Quotes</a></li>
          <li style="float:right"><a href="about">About</a></li>
        </ul>

        </nav>

        <script>
            function toggleMenu() {
                var navbar = document.getElementById("navbar");
                navbar.classList.toggle("active");
            }
        </script>    
          
        <div id="MainTitle">
            <h1>The Stoic Path.</h1>
            <hr id="TitleHr">
        </div>

        <div id="Subtitle">
            <p>"Your ultimate resource for Stoicism, mental health, productivity and beyond."</p>
        </div>

        <div class="MainNote">
            <div id="MainNoteFirstDiv">
                <h2>Discover Your Path to Stoic Wisdom</h2>
                <p style="margin-bottom: .3125rem;">Welcome to The Stoic Path!</p>
                <p>
                        Here, we blend ancient Stoic philosophy with modern life, 
                        offering insights into <strong>mental health</strong>, <strong>journaling</strong>, 
                        <strong>happiness</strong>, <strong>productivity</strong>, and <strong>relationships</strong>. 
                        Join us on a journey to cultivate a more thoughtful and fulfilling life through the timeless <strong>wisdom</strong> of <strong>Stoicism</strong>.
                </p>

            </div>
            <div>
                 <img src="/assets/bg1.png" alt="Presentation"> 
                <!-- <img src="/src/main/resources/static/assets/bg1.png" alt="Presentation"> -->
            </div>

        </div>

        <section class="MainContent">
            <div class="Container-grid">
                
                <article class="Chapter" alt="Chapter_1">
                    <div class="img-container">
                        <img src="/assets/Icons/crisis.png" alt="Article_1"> 
                    </div>
                    <div class="text-container">
                        <h2>Crisis.</h2>
                        <p>A man grapples with the overwhelming pressures of work.</p>
                    </div>
                </article>
                
                <article class="Chapter" alt="Chapter_2">
                    <div class="img-container">
                        <img src="/assets/Icons/choices.png" alt="Article_2"> 
                    </div>
                    <div class="text-container">
                        <h2>Choices.</h2>
                        <p>And this is a paragraph, you can enter some text here.</p>
                    </div>
                </article>
                
                <article class="Chapter" alt="Chapter_3">
                    <div class="img-container">
                        <img src="/assets/Icons/phishing.png" alt="Article_3"> 
                    </div>
                    <div class="text-container">
                        <h2>Phishing.</h2>
                        <p>And this is a paragraph, you can enter some text here.</p>
                    </div>                    
                </article>
                
                <article class="Chapter" alt="Chapter_4">
                    <div class="img-container">
                        <img src="/assets/Icons/endless-scrolling.png" alt="Article_4"> 
                    </div>
                    <div class="text-container">
                        <h2>Endless scrolling.</h2>
                        <p>And this is a paragraph, you can enter some text here.</p>
                    </div>                    
                </article>
                
                <article class="Chapter" alt="Chapter_5">
                    <div class="img-container">
                        <img src="/assets/Icons/personality.png" alt="Article_5"> 
                    </div>
                    <div class="text-container">
                        <h2>Personality.</h2>
                        <p>And this is a paragraph, you can enter some text here.</p>
                    </div>                    
                </article>
                           
                
            </div>
        </section>

        <footer>
            <hr>
            <h2>The Stoic Path</h2>
            <p>This is a personal project, feel free to visit the GitHub code.</p>
            <div class="footer-content">
              <ul>
                <li>
                    <!-- GitHub Icon with Link -->
                    <a href="https://github.com/LovisottoSantiago" class="icon" target="_blank" aria-label="GitHub Profile">
                        <i class="fa-solid fa-code"></i>
                        <p>My Portfolio</p>
                    </a>                    
                </li>
                <li>
                    <!-- GitHub Icon with Link -->
                    <a href="https://github.com/LovisottoSantiago" class="icon" target="_blank" aria-label="GitHub Profile">
                        <i class="fab fa-github"></i>
                        <p>Github Profile</p>
                    </a>                    
                </li>
                <li>
                    <!-- GitHub Icon with Link -->
                    <a href="https://github.com/LovisottoSantiago" class="icon" target="_blank" aria-label="GitHub Profile">
                        <i class="fa-solid fa-envelope"></i>
                        <p>Contact Me!</p>
                    </a>                    
                </li>
              </ul>
            </div>
          </footer>          

    </body>
</html>
